<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="l-site">

		<header class="l-header">

			<a class="c-logo" href="{{ '/' | url }}">
				<img src="/static/img/Paper-Ren-Logo.png" alt="Paper-Ren-Logo"/>
			</a>

			<h2 class="c-title">We are Paper Ren</h2>

		</header>

		<main>
			{{ layoutContent | safe }}
		</main>
		<p>&copy; 2020 Paper-Ren</p>

	</body>

</html>
