<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="l-site">

		<header class="l-header">

			<a class="c-logo" href="{{ '/' | url }}">
				<img src="/static/img/Paper-Ren-Logo.png" alt="Paper-Ren-Logo"/>
			</a>

			<div class="c-title__items">
				<h2 class="c-title">We are Paper Ren</h2>
				<h2 class="c-title"><a href="{{ '/about' | url }}">About</a></h2>
				<h2 class="c-title"><a href="{{ '/contact' | url }}">Contact</a></h2>
			</div>
			
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>
		<p>&copy; 2020 Paper-Ren</p>

	</body>

</html>
